{% extends 'base.html.twig' %}

{% block title %}@{{ user.getUserName() }} {% endblock %}
{% block body %}
    {% block javascripts %}
        {{ encore_entry_script_tags('profile') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-sm mt-5 ">
        <div class="row">
            <div class="col text-right">
                {% if user.getProfilePicture() %}
                    <img src="{{ vich_uploader_asset(user.getProfilePicture(), 'imageFile','App\\Entity\\Photos') }}"
                         alt="logo" class="rounded-circle profile-pic">
                {% else %}
                    <img src="{{ asset('build/user-avatar.svg') }}" alt="logo" class="rounded-circle profile-pic">
                {% endif %}

            </div>
            <div class="col-6 profile-info">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="not-logged-in"> {{ user.userName }}</h1>
                        </div>
                        <div class="col">
                            {% if  app.user.getId() is same as(user.getId()) %}
                                <button type="button" class="btn btn-secondary text-center" data-toggle="modal"
                                        data-target="#newpostmodal">
                                    post
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-info follow mt-2" id="follow" data-user-id="{{user.getId()}}">
                                    Follow
                                </button>
                            {% endif %}


                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col"  >
                            {{ user.UserPhotos|length }} posts
                        </div>
                        <div class="col" data-toggle="modal"  data-target="#followers-modal"  >
                            {{ user.followers|length }} followers
                        </div>
                        <div class="col"  data-toggle="modal" data-target="#following-modal">
                            {{ user.followings|length }} following
                        </div>
                    </div>
                    <div class="row">
                        <p>{{ user.bio }} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 posts-list-top">
            <div class="col-1 offset-5">
                <a class="_9VEo1 T-jvg" href="/kamesguen/">
                    <span class="smsjF">
                        <svg aria-label="Posts" class="_8-yf5 " fill="#262626" height="12" viewBox="0 0 48 48"
                             width="12">
                            <path clip-rule="evenodd"
                                  d="M45 1.5H3c-.8 0-1.5.7-1.5 1.5v42c0 .8.7 1.5 1.5 1.5h42c.8 0 1.5-.7 1.5-1.5V3c0-.8-.7-1.5-1.5-1.5zm-40.5 3h11v11h-11v-11zm0 14h11v11h-11v-11zm11 25h-11v-11h11v11zm14 0h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11zm14 28h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11z"
                                  fill-rule="evenodd"></path>
                        </svg>
                        <span class="PJXu4">Posts</span>
                    </span>
                </a>
            </div>
            <div class="col-1">
                <a class="_9VEo1 T-jvg" href="/kamesguen/">
                    <span class="smsjF">
                        <svg aria-label="Saved" class="_8-yf5 " fill="#999999" height="12" viewBox="0 0 48 48"
                             width="12">
                            <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path>
                        </svg>
                        <span class="PJXu4">Saved</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            {% for pic in user.getUserPhotos()|reverse %}
                <div class="col-4 mb-3 text-center">
                    <div class="box">
                        <img src="{{ vich_uploader_asset(pic, 'imageFile','App\\Entity\\Photos') }}"
                             alt="logo" class="profile-posts" id="profile_post_{{ loop.index }}" data-box-id="box_text_{{ loop.index }}">
                        <div data-src="{{ vich_uploader_asset(pic, 'imageFile','App\\Entity\\Photos') }}" class="box-text" id="box_text_{{ loop.index }}" data-img-id="profile_post_{{ loop.index }}" data-index="{{ loop.index }}" data-first="{{ loop.first }}" data-last="{{ loop.last }}" data-pic-id="{{ pic.getId() }}" data-caption="{{ pic.getCaption() }}" data-tags="{{ pic.getHashtagsAsString() }}">
                            <h6 style="margin-top: 40%" class="text-light">
                                <span>{{ pic.getLikes()|length }}</span>
                                <svg aria-label="Like" class="_8-yf5 " fill="#ffffff" height="24"
                                     viewBox="0 0 48 48" width="18">
                                    <path clip-rule="evenodd"
                                          d="M35.3 35.6c-9.2 8.2-9.8 8.9-11.3 8.9s-2.1-.7-11.3-8.9C6.5 30.1.5 25.6.5 17.8.5 9.9 6.4 3.5 13.7 3.5 20.8 3.5 24 8.8 24 8.8s3.2-5.3 10.3-5.3c7.3 0 13.2 6.4 13.2 14.3 0 7.8-6.1 12.3-12.2 17.8z"
                                          fill-rule="evenodd"></path>
                                </svg>
                                <span>{{ pic.getComments()|length }}</span>
                                <svg aria-label="Comment" class="_8-yf5 " fill="#ffffff" height="24"
                                     viewBox="0 0 48 48" width="18">
                                    <path clip-rule="evenodd"
                                          d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </h6>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="newpostmodal" tabindex="-1" role="dialog" aria-labelledby="newpostmodal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form, {'attr': {'id': 'photo_form'}}) }}
                <div class="modal-body">
                    {{ form_row(form.imageFile, { 'attr': {'class': 'form-control-file mb-2'} }) }}
                    {{ form_row(form.caption, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_row(form.tagsText, { 'attr': {'class': 'form-control mb-2'} }) }}
                    {{ form_row(form.setAsProfile)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="modal fade" id="followers-modal" tabindex="-1" role="dialog" aria-labelledby="followers-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Followers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                    {% for follower in user.getFollowers() %}
                        <div class="row">
                            <div class="col">
                                {% if follower.getProfilePicture() %}
                                    <img src="{{ vich_uploader_asset(follower.getProfilePicture(), 'imageFile','App\\Entity\\Photos') }}"
                                         alt="logo" class="rounded-circle  thumbnail-pic">
                                {% else %}
                                    <img src="{{ asset('build/user-avatar.svg') }}" alt="logo"
                                         class="rounded-circle thumbnail-pic">
                                {% endif %}
                                <h6 class="text-dark">{{ follower.getUserName() }}</h6>
                            </div>
                            <div class="col">
                                {% if  app.user.getId() is same as(follower.getId())  %}
                                    <h4>You</h4>
                                {% elseif (app.user.isFollowing(follower)) %}
                                    <button type="button" class="btn btn-info m-follow mt-2 Following" data-user-id="{{follower.getId()}}" data-following="{{app.user.isFollowing(follower)}}">
                                        Following
                                    </button>
                                 {% else %}
                                     <button type="button" class="btn btn-info m-follow mt-2" data-user-id="{{follower.getId()}}" data-following="{{app.user.isFollowing(follower)}}">
                                         Follow
                                     </button>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="following-modal" tabindex="-1" role="dialog" aria-labelledby="following-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Followers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                    {% for following in user.getFollowings() %}
                        <div class="row">
                            <div class="col">
                                {% if following.getProfilePicture() %}
                                    <img src="{{ vich_uploader_asset(following.getProfilePicture(), 'imageFile','App\\Entity\\Photos') }}"
                                         alt="logo" class="rounded-circle  thumbnail-pic">
                                {% else %}
                                    <img src="{{ asset('build/user-avatar.svg') }}" alt="logo"
                                         class="rounded-circle thumbnail-pic">
                                {% endif %}
                                <h6 class="text-dark">{{ following.getUserName() }}</h6>
                            </div>
                            <div class="col">
                                {% if app.user.isFollowing(following) %}
                                    <button type="button" class="btn btn-info m-follow mt-2 Following" data-user-id="{{following.getId()}}" data-following="{{app.user.isFollowing(following)}}">
                                        Following
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-info m-follow mt-2" data-user-id="{{following.getId()}}" data-following="{{app.user.isFollowing(following)}}">
                                        Follow
                                    </button>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content transparent">
                <div class="modal-body" id="modal-body">
                    <input type="hidden" id="actions-util" data-photo="" data-user="{{ user.getId() }}" data-app-user="{{app.user.id}}">
                    <div class="container" id="modal-content">
                        <div class="row">
                            <div class="col-1">
                                <a class="modal-arrow" id="prev" style="display: none">
                                </a>
                            </div>
                            <div class="col-6 p-0 wt">
                                <img id="modal-img" src="" alt="pic">
                            </div>
                            <div class="col wt">
                                <div class="container">
                                    <div class="row mt-3">
                                        <div class="col">
                                            {% if user.getProfilePicture() %}
                                                <img src="{{ vich_uploader_asset(user.getProfilePicture(), 'imageFile','App\\Entity\\Photos') }}"
                                                     alt="logo" class="rounded-circle  thumbnail-pic">
                                            {% else %}
                                                <img src="{{ asset('build/user-avatar.svg') }}" alt="logo"
                                                     class="rounded-circle thumbnail-pic">
                                            {% endif %}
                                            <span class="font-weight-bold">{{ user.getUserName() }}</span>
                                            <span style="display: block;" id="caption"></span>
                                            <span class="text-info" id="tags"></span>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col p-0 ">
                                            <ul id="comments_container" class="p-0">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1">
                                            <a class="wpO6b " type="button" id="like">
                                                <svg aria-label="Like" class="_8-yf5 " fill="#262626" height="24"
                                                     viewBox="0 0 48 48" width="24">
                                                    <path clip-rule="evenodd"
                                                          d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                                                          fill-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="wpO6b" id="comment-action" type="button">
                                                <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24"
                                                     viewBox="0 0 48 48" width="24">
                                                    <path clip-rule="evenodd"
                                                          d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                                                          fill-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="col text-right">
                                            <a class="wpO6b " id="save-action" type="button">
                                                <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24"
                                                     viewBox="0 0 48 48" width="24">
                                                    <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <form class="X7cDz" method="POST">
                                                <textarea aria-label="Add a comment…" placeholder="Add a comment…"
                                                          class="Ypffh" autocomplete="off" autocorrect="off" id="comment_input"
                                                          style="height: 18px;"></textarea>
                                                <button class="sqdOP yWX7d y3zKF" id="comment_submit" type="button">Post</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <a class="modal-arrow right" id="next" style="display: none">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
