<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />

</head>
<body>
{% if app.user %}
<div class="main">
    {% block header %}
        <header class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <a class="navbar-brand col offset-2" href="/homepage/">
                    <img src="{{ asset('build/logo.png') }}" alt="logo" class="header-logo">
                </a>
                <form class="form-inline col my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"    data-html="true"  id="search_input" data-container="body" data-toggle="popover" data-placement="bottom">
                </form>
                <ul class="navbar-nav mr-auto col ">
                    <li class="nav-item mr-1">
                        <a href="/explore/">
                            <svg aria-label="Find People" class="_8-yf5 " fill="#262626" height="24"
                                 viewBox="0 0 48 48" width="24">
                                <path clip-rule="evenodd"
                                      d="M24 47.5C11 47.5.5 37 .5 24S11 .5 24 .5 47.5 11 47.5 24 37 47.5 24 47.5zm4.4-20.3c-.3.5-.7.9-1.2 1.2l-14.8 8.1c-.3.1-.6.1-.8-.1-.2-.2-.3-.5-.1-.8l8.1-14.8c.3-.5.7-.9 1.2-1.2l14.8-8.1c.3-.1.6-.1.8.1.2.2.3.5.1.8l-8.1 14.8zm-6.2-5L17.9 30l7.8-4.3-3.5-3.5z"
                                      fill-rule="evenodd"></path>
                            </svg>
                        </a></li>
                    <li class="nav-item mr-1"><a class="_0ZPOP kIKUG _4700r " href="/accounts/activity/">
                            <svg aria-label="Activity Feed" class="_8-yf5 " fill="#262626" height="24"
                                 viewBox="0 0 48 48" width="24">
                                <path clip-rule="evenodd"
                                      d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                                      fill-rule="evenodd"></path>
                            </svg>
                        </a></li>
                    <li class="nav-item mr-1"><a href="{{ path('profile', {id: app.user.getId()}) }}">
                            <svg aria-label="Profile" class="_8-yf5 " fill="#262626" height="24"
                                 viewBox="0 0 48 48" width="24">
                                <path d="M24 27c-7.1 0-12.9-5.8-12.9-12.9s5.8-13 12.9-13c7.1 0 12.9 5.8 12.9 12.9S31.1 27 24 27zm0-22.9c-5.5 0-9.9 4.5-9.9 9.9s4.4 10 9.9 10 9.9-4.5 9.9-9.9-4.4-10-9.9-10zm20 42.8c-.8 0-1.5-.7-1.5-1.5V42c0-5-4-9-9-9h-19c-5 0-9 4-9 9v3.4c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V42c0-6.6 5.4-12 12-12h19c6.6 0 12 5.4 12 12v3.4c0 .8-.7 1.5-1.5 1.5z"></path>
                            </svg>
                        </a></li>

                </ul>

            </div>
        </header>
    {% endblock %}
    {% endif %}
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}</div>
</body>
</html>
